extends ../layouts/layout.jade
include ../includes/mixins.jade

block headContent
    title Jade Playground
    
block bodyContent

    - var myTitle2 = 'Hey everyone!'
    - var mySkills = ['PHP', 'MySQL', 'SASS']

    if myTitle
      h1 #{myTitle}
      p(class='myP', id='myPID') This is a paragraph, as well!
    else
      h1 Awwh, we have no title!


    ul
      each val in mySkills
        li= val

    mixin paragraph
      p Hello

    mixin paragraph2(myContent, id)
      p(id=id)= myContent

    +paragraph
    +paragraph2('Hey, how is it going?', 'myParaID')

    div(style={color: 'gray', background: 'black'})

    form(action='', method='POST')

      +formText('firstName', 'First Name:')

      +formText('lastName', 'Last Name:')

      label(for='myList') Occupation:
      select(id='myList', name='myList')
        option(value='Designer') Designer
        option(value='Coder') Coder

      input(type='button', value='Submit')
