include ./mixins.jade

a#name(href='#') John Doe
p.sub-title Web, UI/UX, Developer

+mainNav

ul#social-menu
  li
    a#dribbble(href='#')
      img(src='images/social-dribbble.png')
  li
    a#behance(href='#')
      img(src='images/social-behance.png')
  li
    a#twitter(href='#')
      img(src='images/social-twitter.png')