doctype html
html.no-js
  head
    include includes/head.jade
    title Our Project

  body

    include includes/mixins.jade

    //- .row#main-container
    .grid-x#main-container
      //- .medium-3.columns#left-bar
      .cell.medium-3#left-bar

        include includes/header.jade
      
      //- .medium-9.columns#content
      .cell.medium-9#content
        h1 I'll help you reach your peak
        .grid-x#content-grid

          //- .medium-6.columns
          .cell.medium-6

            +skillinfo(
              'Frontend',
              'I started out as a frontend guy about 15 years ago, fully equipped with FrontPage 98 and ready to rock the early internets.',
              'images/frontend-icons.png')
            
            +skills('HTML5', 'CSS3', 'JADE', 'SASS', 'STYLUS', 'JAVASCRIPT', 'ACTIONSCRIPT', 'XML')

          //- .medium-6.columns
          .cell.medium-6
            +skillinfo(
              'Backend',
              'Out of necessity, I learned backend development while launching several internet-based businesses starting in 2002.',
              'images/backend-icons.png')
            
            +skills('PHP', 'RUBY', 'PYTHON', 'PERL', 'NODEJS', 'JAVA', 'MONGODB', 'MYSQL/NOSQL')          

    include includes/footer.jade